# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Datasets
datasets/raw/
datasets/preprocessed/
datasets/feature_sets/

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
